{
    "jira_auth": {
        "token": "",
        "server": ""
    },
    "database_auth": {
        "host": "",
        "database": "",
        "username": "",
        "password": ""
    },
    "gather_jira": {
        "team_name": "",
        "rules": [
            {"classification": "blocker", "query": ""},
            {"classification": "critical blocker", "query": ""},
            {"classification": "escaped bug", "query": ""}
        ],
        "data_retention_days": 90
    }
}
