[flake8]
select=FCN,M511

exclude =
    doc,
    .tox,
    .git,
    .yml,
    Pipfile.*,
    docs/*,
    .cache/*

fcn_exclude_functions =
    getLogger,
    LOGGER,
    logger,
    orm,
    yaml

enable-extensions =
    FCN,
